name: Deploy Portfolio
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Inject All Secrets
        run: |
          # Sửa đổi: Đảm bảo script tìm đúng thẻ {{MY_ROLE}} để thay thế bằng secret MY_ROLE
          sed -i "s|{{MY_NAME}}|${{ secrets.MY_NAME }}|g" index.html
          sed -i "s|{{MY_ROLE}}|${{ secrets.MY_ROLE }}|g" index.html
          sed -i "s|{{MY_SPECIALTY}}|${{ secrets.MY_SPECIALTY }}|g" index.html
          sed -i "s|{{MY_LOCATION}}|${{ secrets.MY_LOCATION }}|g" index.html
          sed -i "s|{{MY_EMAIL}}|${{ secrets.MY_EMAIL }}|g" index.html
          sed -i "s|{{MY_PHONE}}|${{ secrets.MY_PHONE }}|g" index.html
          sed -i "s|{{MY_AVATAR}}|${{ secrets.MY_AVATAR }}|g" index.html
          sed -i "s|{{LINK_FB}}|${{ secrets.LINK_FB }}|g" index.html
          sed -i "s|{{LINK_ZALO}}|${{ secrets.LINK_ZALO }}|g" index.html
          sed -i "s|{{LINK_DISCORD}}|${{ secrets.LINK_DISCORD }}|g" index.html
          sed -i "s|{{LINK_CV}}|${{ secrets.LINK_CV }}|g" index.html
          sed -i "s|{{LINK_BGM}}|${{ secrets.LINK_BGM }}|g" index.html
          sed -i "s|{{BANK_INFO}}|${{ secrets.BANK_INFO }}|g" index.html
          sed -i "s|{{STK_NUMBER}}|${{ secrets.STK_NUMBER }}|g" index.html
          sed -i "s|{{QR_LINK}}|${{ secrets.QR_LINK }}|g" index.html
          sed -i "s|{{TERMINAL_TITLE}}|${{ secrets.TERMINAL_TITLE }}|g" index.html

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
