- name: Inject All Secrets
        run: |
          sed -i "s|{{STK_NUMBER}}|${{ secrets.STK_NUMBER }}|g" index.html
          sed -i "s|{{BANK_INFO}}|${{ secrets.BANK_INFO }}|g" index.html
          sed -i "s|{{MY_PHONE}}|${{ secrets.MY_PHONE }}|g" index.html
          sed -i "s|{{MY_EMAIL}}|${{ secrets.MY_EMAIL }}|g" index.html
          sed -i "s|{{MY_NAME}}|${{ secrets.MY_NAME }}|g" index.html
          sed -i "s|{{LINK_FB}}|${{ secrets.LINK_FB }}|g" index.html
          sed -i "s|{{LINK_ZALO}}|${{ secrets.LINK_ZALO }}|g" index.html
          sed -i "s|{{LINK_DISCORD}}|${{ secrets.LINK_DISCORD }}|g" index.html
          sed -i "s|{{QR_LINK}}|${{ secrets.QR_LINK }}|g" index.html
